.text-p{
	font-size: 11px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
	color: #ffab40;
    text-transform: none;
    cursor: pointer;
}
.page-error, .page-login {
    background: #333;
    display: table;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.page-error .center, .page-login .center {
    display: table-cell;
    vertical-align: middle;
    padding-top: 44px;
    text-align: inherit;
}
.card .card-header {
    padding: 10px;
    background-color: #26A69A;
    text-align: center;
}
.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card .card-action {
    padding: 20px;
}
.no-shadow{
	box-shadow: none;
}
.no-shadow:hover{
	box-shadow: none;
} 
input[type=text], 
input[type=password],  
input[type=email], 
input[type=url], 
input[type=time], 
input[type=date], 
input[type=datetime-local], 
input[type=tel], 
input[type=number], 
input[type=search] {
	border: 1px solid #ddd;
	padding: 0px 10px;
	box-sizing:border-box;
}

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid{
	border-bottom: 1px solid #26A69A;
    box-shadow: 0 1px 0 0 #26A69A;
}

label.active{
	padding: 5px 1px;
}
.toast a {
    color: #FF984F;
    font-weight: bold;
    cursor: pointer;
}
.toast span {
    text-align: center;
    width: 100%;
}